extends layout
block content
    .container
        if errors
            .alert.alert-danger.mt-4
                strong Alert!
                ul
                    each list in  errors
                        li=list.msg || list
        .card.card-register.mx-auto.mt-5
            .card-header
                | Register an Account
            .card-body
                form(action='/register' method='post')
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email', name='email', required, aria-describedby='emailHelp', placeholder='Enter email')
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password', required, placeholder='Password', name='password')
                    .form-group
                        label(for='exampleConfirmPassword') Confirm password
                        input#exampleConfirmPassword.form-control(type='password', required, name='confirm', placeholder='Confirm password')
                    input.btn.btn-primary.btn-block(type='submit', value="Register")
                .text-center
                    a.d-block.small.mt-3(href='/login') Login Page